<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>EventosApp</title>
	 <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     
</head>
<body>

	<header>
		<nav>
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo">Evento</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="/eventos" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Lista de evento</a></li>
		      </ul>
		    </div>
		</nav>
	</header>
	
	<div th:each="evento : ${evento}" class="container detalhesEvento">
	<h5>Detalhes do Evento</h5>
		<div class="row">
			<p>Nome: <span th:text="${evento.nome}"></span></p>
			<p>Local: <span th:text="${evento.local}"></span></p>
			<p>Data: <span th:text="${evento.data}"></span></p>
			<p>Horario: <span th:text="${evento.horario}"></span></p>
		</div>
	</div>
	
		 <th:block th:include="mensagemValidacao"></th:block> 
		<div class="container formConvidado">
		<form method="post" th:object="${convidado}">
			Nome: <input type="text" value="" name="nomeConvidado" placeholder="Nome Completo"/>
			Rg: <input type="text" value="" name="rg" placeholder="AA-00.000.000" class="validate"/>
			<button class="waves-effect waves-light btn" type="submit">Adicionar</button>
		</form>
		</div>

	<table class="container tabelaConvidado">
		<thead>
			<tr>
				<th>Nome Convidado</th>
				<th>RG</th>
				<th>Deletar</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="convidado : ${convidados}">
				<td><span th:text="${convidado.nomeConvidado}"></span></td>
				<td><span th:text="${convidado.rg}"></span></td>
				 <td><a class="waves-effect waves-light" th:href="${(#mvc.url('EC#deletarConvidado').arg(0, convidado.rg)).build()}"><i class="material-icons left">delete</i></a></td>
			 </tr>
		</tbody>
	</table>
	

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>


</html>